In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['profit']=data['revenue']-data['budget']
data['month'] = [release_date.split('/')[0] for release_date in data.release_date]

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
# сначала создадим одтельный датасет из списка фильмов, предложенных в вариантах ответа
# зачем это нужно делать?
# потому что не факт, что фильм с самым большим бюджетом из ВСЕГО датасета, окажется в списке вариантов ответа
films1 = ['tt1345836','tt0413300','tt2395427','tt1032751','tt1298650']
data1 = data.loc[data['imdb_id'].isin(films1)]

# отсортируем фильмы из списка по убыванию в столбце "budget"
data1 = data1.sort_values('budget',ascending=False, ignore_index = True)

# таким образом, фильм из списка с самым большим бюджетом, будет находиться на первой строке
display(data1.loc[0]['original_title'])

# тут вводим ваш ответ и добавлем в его список ответов
answer_ls.append(4)

"The Warrior's Way"

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
# снова создаем сначала отдельный датасет из списка фильмов, предложенных в вариантах ответа
films2 = ['tt0167260','tt0279111','tt0360717','tt0213149','tt0346491']
data2 = data.loc[data['imdb_id'].isin(films2)]

# сортируем фильмы из списка по убыванию в столбце со значением длительности фильма
data2 = data2.sort_values('runtime',ascending=False, ignore_index = True)

# таким образом, самый длительный фильм из списка, будет находиться на первой строке
display(data2.loc[0]['original_title'])

answer_ls.append(2)

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
films3 = ['tt0299172','tt0283426','tt1449283','tt0121164','tt0443536']
data3 = data.loc[data['imdb_id'].isin(films3)]

data3 = data.sort_values('runtime', ignore_index=True)

display(data3.loc[0]['original_title'])

answer_ls.append(3)

'Winnie the Pooh'

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
display(data['runtime'].agg(np.mean))
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
display(data['runtime'].agg(np.median))
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
# предварительно мы уже создали новый столбец profit, который равен прибыли фильма (доход(revenue)-расходы(budget))

films6 = ['tt0848228','tt2293640','tt2488496','tt2820852','tt0499549']
data6 = data.loc[data['imdb_id'].isin(films6)]

data6 = data6.sort_values('profit',ascending=False, ignore_index = True)

display(data6.loc[0]['original_title'])

answer_ls.append(5)

'Avatar'

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
films7 = ['tt0134983','tt1032751','tt0424095','tt0180052','tt1210819']
data7 = data.loc[data['imdb_id'].isin(films7)]

data7 = data7.sort_values('profit', ignore_index = True)

display(data7.loc[0]['original_title'])

answer_ls.append(2)

"The Warrior's Way"

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
print(data[data['profit']>0].count()[0])
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
data9 = data[data['release_year'] == 2008]
display(data9[data9['profit']==data9['profit'].max()]['original_title'])
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
data10 = data.loc[(2012 <= data['release_year']) & (data['release_year'] <= 2014)]
display(data10[data10['profit']==data10['profit'].min()]['original_title'])
answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
# Вариант №1
# получим полный список жанров для всех фильмов в датасете
genres = data.genres.apply(lambda x: x.split('|')).sum()
# отсортируем
display(pd.Series(genres).value_counts().index[0])

# Вариант №2
# в датафрейме жанры делим с помощью split и преобразуем в списко
# затем воспользуемся stack
display(pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()[:5])
        
answer_ls.append(3)

'Drama'

Drama        782
Comedy       683
Thriller     597
Action       583
Adventure    416
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
# Вариант №1
# аналогично получим полный список жанров для фильмов, у которых прибыль(profit)>0
genres = data[data['profit']>0].genres.apply(lambda x: x.split('|')).sum()
# отсортируем
display(pd.Series(genres).value_counts().index.values[0])

# Вариант №2
display(pd.DataFrame(data[data['profit']>0].genres.str.split('|').tolist()).stack().value_counts()[:5])

answer_ls.append(1)

'Drama'

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
# Вариант №1

# так как у одного фильма может быть несколько режиссеров
# предварительно создадим список режиссеров всех фильмов в датасете
# а затем отсортируем его

directors = data.director.apply(lambda x: x.split('|')).sum()

display(pd.Series(directors).value_counts().index[0])

# Вариант №2
display(pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts()[:5])

answer_ls.append(3)

'Steven Soderbergh'

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Robert Rodriguez     11
Steven Spielberg     10
dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
# Вариант №1

# аналогично создадим сначала список режиссеров всех прибыльных фильмов, а затем отсортируем его
directors = data[data['profit']>0].director.apply(lambda x: x.split('|')).sum()

display(pd.Series(directors).value_counts().index[0])

# Вариант №2
display(pd.DataFrame(data[data['profit']>0].director.str.split('|').tolist()).stack().value_counts()[:5])

answer_ls.append(4)

'Ridley Scott'

Ridley Scott         12
Steven Soderbergh    10
Clint Eastwood       10
Steven Spielberg     10
Shawn Levy            9
dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
# создадим словарь, в котором в качестве ключей будут имена режиссеров
# в качестве значений - прибыль, которую принес данный режиссер

directors_profit = {}

for index,row in data.iterrows():
    directors = row.director.split('|')
    for director in directors:
        directors_profit.setdefault(director,0)
        directors_profit[director]+=row.profit

display(pd.DataFrame(directors_profit, index=['profit']).T.sort_values(by='profit',ascending=False).head())

answer_ls.append(5)

                       profit
Peter Jackson      5202593685
David Yates        3379295625
Christopher Nolan  3162548502
J.J. Abrams        2839169916
Michael Bay        2760938960

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
# создадим словарь, в котором в качестве ключей будут имена актеров
# в качестве значений - прибыль, которую принес данный актер

actors_sum_profit = {}

for index,row in data.iterrows():
    actors = row.cast.split('|')
    for actor in actors:
        actors_sum_profit.setdefault(actor,0)
        actors_sum_profit[actor]+=row.profit

display(pd.DataFrame(actors_sum_profit, index=['profit']).T.sort_values(by='profit',ascending=False).head())
        
answer_ls.append(1)

                       profit
Emma Watson        6666245597
Daniel Radcliffe   6514990281
Rupert Grint       6408638290
Ian McKellen       6087375777
Robert Downey Jr.  5316030161

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
# создадим словарь, в котором в качестве ключей будут имена актеров, сыгравших в фильмах 2012 года
# а в качестве значений через цикл будет подсчитана прибыль, которую принес данный актер

actors_sum_profit_2012 = {}

for index,row in data[data['release_year'] == 2012].iterrows():
    actors = row.cast.split('|')
    for actor in actors:
        actors_sum_profit_2012.setdefault(actor,0)
        actors_sum_profit_2012[actor]+=row.profit

display(pd.DataFrame(actors_sum_profit_2012, index=['profit']).T.sort_values(by='profit').head())       
        
answer_ls.append(3)

                  profit
Kirsten Dunst  -68109207
Timothy Spall  -51893525
James Kidnie   -51893525
Heidi Hawkins  -51893525
Malin Ã…kerman -43733509

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
# Вариант №1
# создадим список всех актеров, которые снялись в высокобюджетных фильмах, а затем отсортируем этот список

actors = data[data['budget']>data['budget'].mean()].cast.apply(lambda x: x.split('|')).sum()

display(pd.Series(actors).value_counts().index[0])

# Вариант №2
display(pd.DataFrame(data[data['budget']>data['budget'].mean()].cast.str.split('|').tolist()).stack().value_counts()[:5])

answer_ls.append(3)

'Matt Damon'

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
# Вариант №1

# сначала создадим отдельный датасет из тех фильмов, в которых снимался Nicolas Cage
data_nicolas_cage = data[data['cast'].str.contains('Nicolas Cage')] 

# затем составим список жанров фильмов из этого датасета и отсортируем его
genres_nicolas_cage = data_nicolas_cage.genres.apply(lambda x: x.split('|')).sum()

display(pd.Series(genres_nicolas_cage).value_counts().index[0])

# Вариант №2
display(pd.DataFrame(data[data['cast'].str.contains('Nicolas Cage')].genres.str.split('|').tolist()).stack().value_counts()[:5])
        
answer_ls.append(2)

'Action'

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
# Вариант №1

# составим список студий для всех фильмов из датасета и отсортируем его

production_companies = data.production_companies.apply(lambda x: x.split('|')).sum()

display(pd.Series(production_companies).value_counts().index[0])

# Вариант №2
display(pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()[:5])
        
answer_ls.append(1)

'Universal Pictures'

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
# Вариант №1

production_companies_2015 = data[data['release_year']==2015].production_companies.apply(lambda x: x.split('|')).sum()

display(pd.Series(production_companies_2015).value_counts().index[0])

# Вариант №2
display(pd.DataFrame(data[data['release_year']==2015].production_companies.str.split('|').tolist()).stack().value_counts()[:5])
        
answer_ls.append(4)

'Warner Bros.'

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
# создадим сначала датасет из фильмов в жанре комедия
data_comedy = data[data['genres'].str.contains('Comedy')]

# затем создадим словарь, в котором в качестве ключей будут имена киностудий
# а в качестве значений - сколько данная киностудия заработала
production_companies_revenue_comedy = {}

for index,row in data_comedy.iterrows():
    production_companies = row.production_companies.split('|')
    for production_companie in production_companies:
        production_companies_revenue_comedy.setdefault(production_companie,0)
        production_companies_revenue_comedy[production_companie] += row.revenue

display(pd.DataFrame(production_companies_revenue_comedy, index=['revenue_comedy']).T.sort_values(by='revenue_comedy', ascending=False).head()) 
        
answer_ls.append(2)

                                        revenue_comedy
Universal Pictures                         12787945581
Walt Disney Pictures                       11514710326
Columbia Pictures                           9387143696
Twentieth Century Fox Film Corporation      8092960294
DreamWorks Animation                        6705049764

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
production_companies_revenue_2012 = {}

for index,row in data[data['release_year']==2012].iterrows():
    production_companies = row.production_companies.split('|')
    for production_companie in production_companies:
            production_companies_revenue_2012.setdefault(production_companie,0)
            production_companies_revenue_2012[production_companie] += row.revenue

display(pd.DataFrame(production_companies_revenue_2012, index=['revenue_2012']).T.sort_values(by='revenue_2012', ascending=False).head()) 
        
answer_ls.append(3)

                    revenue_2012
Columbia Pictures     3468406608
Universal Pictures    2901011579
Warner Bros.          1869520056
Relativity Media      1701593938
Marvel Studios        1519557910

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
# сначала создадим отдельный датасет из тех фильмов, которые сняла студия Paramount Pictures
data_paramount_pictures = data[data['production_companies'].str.contains('Paramount Pictures')]

display(data_paramount_pictures[data_paramount_pictures['profit']==data_paramount_pictures['profit'].min()]['original_title'])

answer_ls.append(1)

926    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
display(data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)[:5])

answer_ls.append(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
data_warner_bros = data[data['production_companies'].str.contains('Warner Bros.')] 
display(data_warner_bros.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)[:5])

answer_ls.append(1)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
Name: revenue, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
display(data.groupby(by='month')['imdb_id'].count().sort_values(ascending=False))

answer_ls.append(4)

month
9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
display(data[(data['month']=='6') | (data['month']=='7') | (data['month']=='8')].shape[0])
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
# сначала создадим отдельный датасет из тех фильмов, которые вышли зимой
data_winter = data[(data['month']=='12') | (data['month']=='1') | (data['month']=='2')]

# затем составим список режиссеров этих фильмов и отсортируем его
data_winter_directors = data_winter.director.apply(lambda x: x.split('|')).sum()

display(pd.Series(data_winter_directors).value_counts()[:5])

answer_ls.append(5)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
year_month_revenue = {}

for index,row in data.iterrows():
    month = row.month
    year = row.release_year
    year_month_revenue.setdefault(year,{})
    year_month_revenue[year].setdefault(month,0)
    year_month_revenue[year][month]+=row.revenue

month_freq = {}
max_value = 0

for month_revenue in year_month_revenue.values():
    for month,revenue in month_revenue.items():
        month_freq.setdefault(month,0)
        if revenue > max_value:
            max_value = revenue
            month_max = month
    max_value = 0
    month_freq.setdefault(month_max,0)
    month_freq[month_max]+=1
    
display(pd.DataFrame(month_freq, index=['freq']).T.sort_values(by='freq', ascending=False))

answer_ls.append(2)

    freq
6      7
12     5
5      3
7      1
3      0
4      0
9      0
10     0
2      0
1      0
11     0
8      0

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
production_companie_films = {}

for index,row in data.iterrows():
    production_companies = row.production_companies.split('|')
    for production_companie in production_companies:
        production_companie_films.setdefault(production_companie,[0,0])
        production_companie_films[production_companie][0] += len(row.original_title)
        production_companie_films[production_companie][1] += 1

max_value = 0

for production_companie,values in production_companie_films.items():
    lenght_title_mean = values[0]/values[1]
    if lenght_title_mean > max_value:
        max_value = lenght_title_mean
        production_companie_max = production_companie
        
print(production_companie_max)

answer_ls.append(5)

Four By Two Productions

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
production_companie_words_films = {}

for index,row in data.iterrows():
    production_companies = row.production_companies.split('|')
    for production_companie in production_companies:
        production_companie_words_films.setdefault(production_companie,[0,0])
        production_companie_words_films[production_companie][0] += len(row.original_title.split(' '))
        production_companie_words_films[production_companie][1] += 1

max_value = 0

for production_companie,values in production_companie_words_films.items():
    words_film_mean = values[0]/values[1]
    if words_film_mean > max_value:
        max_value = words_film_mean
        production_companie_max = production_companie
        
print(production_companie_max)

answer_ls.append(5)

Four By Two Productions

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
words = {}

for index,row in data.iterrows():
    film_words = row.original_title.split(' ')
    for word in film_words:
        word = word.lower()
        words.setdefault(word,0)
        
print(len(words))

answer_ls.append(3)

2462

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
# сначала отсортируем фильмы по рейтингу и сохраним результат в новый датафрейм
# а также переиндексируем строки в новом датафрейме с помощью аргумента ignore_index
data34 = data.sort_values('vote_average',ascending=False,ignore_index=True)
films = ['Inside Out','Gone Girl','12 Years a Slave','BloodRayne','The Adventures of Rocky & Bullwinkle','The Lord of the Rings: The Return of the King','300','Lucky Number Slevin']
films_vote_average_top = []

for index,row in data34.iterrows():
    # 1% лучший - это первый процент строк в новой таблице, проверим какие фильмы из нашего списка ответов там есть
    if index <= round(data34.shape[0]/100):
        for film in films:
            if row.original_title == film:
                films_vote_average_top.append(row.original_title)
            
print(films_vote_average_top)

answer_ls.append(1)

['Inside Out', 'The Lord of the Rings: The Return of the King', '12 Years a Slave', 'Gone Girl']

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
actors_couples = {}

for index,row in data.iterrows():
    actors = row.cast.split('|')
    #проверка, что в фильме снималось как минимум 2 актера
    if len(actors)>1:
        #создаю цикл в цикле, чтобы перебрать возможные комбинации пар актеров и добавить их в новый словарь
        for i in range(len(actors)-2):
            for j in range(i+1,len(actors)-1):
                actor1 = actors[i]
                actor2 = actors[j]
                #не придумал другого способа, как учитывать случаи, когда имена в парах находятся в разном порядке
                key = actor1+','+actor2
                actors_couples.setdefault(key,0)
                actors_couples[key]+=1
                key = actor2+','+actor1
                actors_couples.setdefault(key,0)
                actors_couples[key]+=1
                    
max_value = 0

display(pd.DataFrame(actors_couples, index=['value']).T.sort_values(by='value', ascending=False).head())

answer_ls.append(5)

                               value
Rupert Grint,Emma Watson           8
Daniel Radcliffe,Rupert Grint      8
Emma Watson,Daniel Radcliffe       8
Daniel Radcliffe,Emma Watson       8
Emma Watson,Rupert Grint           8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
directors_profit_films = {}

for index,row in data.iterrows():
    directors = row.director.split('|')
    for director in directors:
        directors_profit_films.setdefault(director,[0,0])
        if row.profit > 0:
            directors_profit_films[director][0]+=1
        directors_profit_films[director][1]+=1

directors = ['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']

for director in directors:
    print(director,'{:.3f}'.format(directors_profit_films[director][0]/directors_profit_films[director][1]))

answer_ls.append(4)

Quentin Tarantino 0.857
Steven Soderbergh 0.769
Robert Rodriguez 0.727
Christopher Nolan 1.000
Clint Eastwood 0.833

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4